body {
    height: 100vh;
    background-color:#f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.palette {
    width: 500px;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
}


.colorcard{
    width: 200px;
    height: 300px;
    border: 5px solid;
    border-color: white;
    position:relative;
    margin: 10px;
}
.colorcard:first-child {
    background-color:tomato;
    }

.colorcard:nth-child(2){
    background-color: teal;
}

.colorcard:nth-child(3){
    background-color: Burlywood;
}

.colorcard:last-child{
    background-color: thistle;
}

.colorinfo{
    position: relative;
    top: 20px;
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.colorname, .colorhex {
    position: relative;
    font-weight: 800;
    margin: 5px;
}

.colorname {
    font-size:24px;
}