body{
    background-color: teal;
}

@keyframes rotateDot {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform : rotateZ(180deg);
    }
    100% {
        transform : rotateZ(360deg);
    }
}
.dot {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation : rotateDot 2s ease-in-out infinite;
}

.dot div {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 15px;

    
}
.bar {
    height: 50h;
    display: flex;
    align-items: center;
    justify-content: center;

}


@keyframes dancingSquare {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2);
    }
    50% {
        transform: scaleY(1);
    }
}

.bar div {
    background-color: white;
    width: 15px;
    height: 45px;
    margin: 5px;
    animation : dancingSquare 1s ease-in-out infinite;
}

.bar div:nth-child(2) {
    animation-delay: 0.1s;
}
.bar div:nth-child(3) {
    animation-delay: 0.2s;
}
.bar div:nth-child(4) {
    animation-delay: 0.3s;
}
.bar div:nth-child(5) {
    animation-delay: 0.4s;
}