@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

input:focus {
    outline: none;
  }

body{
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family:'Rubik';
}

header h1 {
    text-align: center;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 15px;
    align-items: center;
    background-color: gold;
}

header > * {
    width: 33%;
}

header i:last-child {
    text-align: right;
}
section {
    margin-bottom: 30px;
}
section h2 {
    font-weight: 600;
    font-size:24px;
    margin-bottom: 20px;
}

.search {
    width:95%;
    position: relative;
    top:-30px;
    margin:0 auto;
  }
  
input {
    width:100%;
    border:none;
    padding:15px 15px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  }
  
input::placeholder {
    opacity: 0.7;
}

.search i {
    position: absolute;
    top:15px;
    right:20px;
    color:rgba(0, 0, 0, 0.10);
  }

.highlighted-book {
    display: flex;
}
.highlighted-book__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.highlighted-book__cover {
    width:110px;
    border-radius: 5px;
    margin-right:20px;
  }

.highlighted-book__title {
    font-size: 20px;
    font-weight: 400;
}

.highlighted-book__author{
    font-size: 14px;
    opacity: 0.4;
}

.highlighted-book__rate{
    color: gold;
    font-size: 14px;
}
.highlighted-book__tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlighted-book__tag div{
    padding : 10px 30px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.section__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__button i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 30px;
    height: 30px;
    border:0;
    border-radius: 50%;
}

.button__book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.top_books {
    display: flex;
    overflow-x:scroll;
}

.top_book {
    margin-right: 20px;
    text-align: center;

}

.top_book img {
    width: 80px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.top_book i {
    font-size: 9px;
    color: gold;
}
.top_book i:last-child {
    color:#f2f2f2;
}

.pop-author {
    display: flex;
}

.pop-author img {
    width: 100px;
    height: 130px;
    border-radius: 10px;
}

.author__info {
    margin-left: 30px;
}
.author__info h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.author__info p {
    font-size:14px;
    opacity: 0.4;
    line-height: 1.5;
}