@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('reset.css');

body {
    max-width: 375px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    margin: 24px;
}

header {
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 12px;
    font-weight: 300;
    color: #7c7c7c;
}
header h1 {
    width: 60%;
    font-size: 24px;
}

header ion-icon {
    font-size: 20px;
}
.my-profile {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}
.my-profile img {
    width: 48px;
    height: 48px;
    border-radius: 38%;
}
.profile__info{
    display: flex;
    flex-direction: column;
    width: 36%;
}

.profile__name{
    font-size:16px;
    margin-bottom: 5px;
}

.profile__introduce {
    font-size:12px;
    font-weight: 300;
}

.profile__music {
    display: flex;
    justify-content: space-around;
    height: 24px;
    align-items: center;
    border: 1px solid;
    border-color:rgb(42, 216, 42);
    border-radius: 15px;
    padding: 0 5px 0 8px;
}

.profile__music span {
    font-size:12px;
}

.profile__music ion-icon {
    color:rgb(42, 216, 42);
}
.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
    margin: 10px 0;
}

.sub-header h4 {
    font-size: 12px;
    font-weight: 300;
}

.my-profile-multi {
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.my-profile-multi img {
    width: 40px;
    height: 40px;
    border-radius: 38%;
}

.my-profile-multi__profiles {
    display: flex;
    justify-content: flex-start;
}
.my-profile-multi__profile {
    text-align: center;
    margin-right: 15px;
}

.my-profile-multi__profile h4 {
    margin-top: 5px;
}

.my-profile-multi__profile ion-icon {
    width: 28px;
    height: 28px;
    border: 1px solid #7c7c7c;
    border-radius: 38%;
    padding: 5px;
    color: #7c7c7c;
}

.profile__recommandation {
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.profile__recommand img {
    width: 40px;
    height: 40px;
    border-radius: 38%;
}

.profile__recommand {
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__recommand span{
    width: 75%;
}
.profile__recommand__more {
    display: flex;
}

.profile__recommand__more ion-icon {
    font-size: 14px;
    color:#7c7c7c;

}