@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    background-color:#F7F7F7;
    padding:20px;
    font-size:14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#222222;
    font-family: 'Nunito', sans-serif;
  }

.pages {
    width:320px;
    background-color:white;
    min-height: 60vh;
    border-radius: 30px;
    box-shadow: 0 18px 36px rgba(227, 226, 235, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
    position: relative;
    padding:35px 25px;
  }

header {
    display:flex;
    justify-content: space-between;
}

.playlist__music {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.playlist__music img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0 18px 36px rgba(28, 4, 209, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
}

.playlist__music h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px
}

.playlist__music h4 {
    font-size: 14px;
    opacity: 0.6;
}

.playlist__taste {
    display: flex;
    justify-content: center;
    margin : 30px;
}

.playlist__button {
    padding:10px 25px;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 18px 36px rgba(227, 226, 235, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
    margin: 0 5px;
  }

.playlist__button:first-child {
    background-color: #222222;
    color:whitesmoke;
}

.playlist__button i {
    margin-right: 5px;
}

.playlist__song {
    width: 95%;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

li > img {
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.playlist__data{
    width:70%;
}

.playlist__data span{
    display: block;
}

.playlist__singer {
    opacity: 0.6;
    margin-bottom: 10px;
    font-size:12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li > i {
    opacity: 0.7;
}
.playlist__title {
    font-size : 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.playing__now {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 50px;
    color:white;
    padding: 15px 30px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 20px;
    box-shadow: 0 18px 36px rgba(227, 226, 235, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
}

.playing__song-data {
    display: flex;
    flex-direction: column;
    width:70%;
}

.playing__player {
    display: flex;
    width: 30%;
    align-items:center;
    justify-content: space-between;
}

.playing__player i:nth-child(2) {
    margin: 0 15px;
}

.now-playing__cover {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.now-playing__cover img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 50px;
    box-shadow: 0 18px 36px rgba(28, 4, 209, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
}

.now-playing__cover h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px
}

.now-playing__cover h4 {
    font-size: 14px;
    opacity: 0.6;
}

.now-playing__timeline {
    margin-top:50px
}

.now-playing__time {
    display:flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}

.now-playing__bar {
    position:relative;
    margin-top:15px
}

.bar__start-from{
    height:4px;
    border-radius: 5px;
    background-color:#222222;
    width: 25%;
    position: absolute;
  }
  
.bar__left {
    background-color:#E9E9E9;
    height:4px;
    border-radius: 5px;
}

.bar__current {
    height: 10px;
    width: 10px;
    background-color:#222222;
    border-radius: 50%;
    position: absolute;
    top:-3.5px;
    left:23%;
}

.controller {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin : 15px;
    align-items: center;
}

.controller i:first-child,
.controller i:last-child {
    opacity: 0.6;
}

.controller > span {
    background-color:#222222;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    box-shadow: 0 18px 36px rgba(194, 194, 196, 0.3), 0 16px 12px rgba(227, 226, 235, 0.2);
}

.controller span i {
    color:white;
    opacity: 1 !important;
  }


