.nav {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px 40px;
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}

.nav__btn {
    font-size: 24px;
    color:#2e363e;
}