@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('reset.css');
@import url('friends.css');
@import url('nav-bar.css');
@import url('screen-header.css');

html {
    height: 100%;
}

body {
    max-width: 375px;
    position: relative;
    margin: 0 auto;
    height:100%;
    font-family: 'Noto Sans KR';

}
.login__with-kakao {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 50px 20px;
}

.logo{
    height: 65px;
    padding-top:50px;
}

p {
    line-height: 1.8;
    font-size:14px;
    padding-bottom:15px;
}

.login__with-kakao__button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fee500;
    font-size: 14px;
    border-radius: 5px;
}

.login__with-kakao__button svg {
    margin-right: 5px;
}

.login--form__input {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login--form {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px 50px 20px;
}

input {
    height: 42px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #cccccc;
    background-color: #fafafa;
}
input::placeholder {
    font-size: 14px;
    color: #7c7c7c;
}

.login--form__stay {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.login--form__stay span {
    font-size: 12px;
    margin: 10px;
}
.login--button {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
}

.login--option {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color:#7c7c7c;
    padding: 0 15px;
}

#login-form input:focus {
    border-color:(0 0 0 rgba(163, 11, 11, 0.8));
}